{% extends 'base.html.twig' %}

{% block h1 %}Ajouter{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_age_index') }}">Retour</a>

    {{ include('age/_form.html.twig') }}


{% endblock %}
