<form method="post" action="{{ path('app_auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet auteur(e) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn btn-danger mt-2 ">Supprimer</button>
</form>
