{% extends 'base.html.twig' %}

{% block h1 %}Ajouter{% endblock %}

{% block body %}

<a class="btn btn-dark" href="{{ path('app_auteur_index') }}">Retour</a>

    {{ include('auteur/_form.html.twig') }}

    
{% endblock %}
