<form method="post" action="{{ path('app_collection_delete', {'id': collection.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette collection ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
