{% extends 'base.html.twig' %}

{% block h1 %}Ajouter des produits 😃{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{path('afficherLivreName')}}">Retour</a>

    {{form(formLivre)}}

{% endblock %}